@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.card {
    width: 320px;
    height: 90%;
    background-color: blueviolet;
    border-radius: 7rem;
    text-align: center;
}
